@model IEnumerable<MvcPL.Models.ExtendedFileViewModel>

<table id="entries">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @Html.ActionLink("Удалить", "Delete", "FileWork", Model, null);
            </td>
            <td>
                @Html.ActionLink("Загрузить", "Download", "FileWork", Model, null);
            </td>
        </tr>
    }
</table>