@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2>
        Во время обработки запроса возникла непредвиденная ошибка.<br>
        Мы уже работаем над этим, спасибо за понимание.
    </h2>
    <h3>
        Причина ошибки: 
        @Model.Exception.Message
    </h3>
</body>
</html>