@model MvcPL.Models.FileViewModel

@{
    ViewBag.Title = "AddFile";
}
<fieldset>
    <center>
        <h2>AddFile</h2>

        @Html.ActionLink("Вернуться назад", "Index", "FileWork")
    </center>
</fieldset>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">

    $("#btnFileUpload").click(function () {
        var formData = new FormData();
        var file = document.getElementById("fileInput").files[0];
        formData.append("fileInput", file);

        $.ajax({
            url: '@Url.Action("Upload1", "FileWork")',
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function () {
                @Html.ActionLink("Index")
            }
        });
    });

</script>

}