@model MvcPL.Models.FileViewModel

@{
    ViewBag.Title = "AddFile";
}
<fieldset>
    <center>
        <h2>AddFile</h2>
        <table>
            <tr>
                <td>
                    <input type="file" name="upload" id="uploadFile" />
                </td>
            </tr>
            <tr>
                <td>
                    <button id="submit">Загрузить файл </button>
                </td>
            </tr>
            <th>
                @Html.ActionLink("Вернуться назад", "Index", "FileWork")
            </th>
        </table>
    </center>
</fieldset>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

    $('#submit').on('click', function (e) {

        e.preventDefault();
        var files = document.getElementById('uploadFile').files;
        if (files.length > 0) {
            if (window.FormData !== undefined)
            {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Upload", "FileWork")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        alert(result);
                    },
                    error: function (xhr, status, p3) {
                        alert(xhr.responseText);
                    }
                });
            }
            else
            {
                alert("Браузер не поддерживает загрузку файлов HTML5!");
            }
        }
    });
    </script>
}