@using System.Net.Mime
@using MvcPL.Controllers
@model IEnumerable<BLL.Interface.Entities.FileEntity>

@{
    ViewBag.Title = "Approve";
}
@*<style>
    <ul>:
</style>*@
<div align="center" class="panel-group">
    <h2>Approve Publishing</h2>
    <ul class="thumbnail">
        @foreach (var item in Model)
        {
            <li class="col-md-4">
                <div class="thumbnail">
                    @if (!item.ContentType.Contains("audio"))
                    {
                        <img src="~/Content/Icons/doc.png" alt="" class=".img-thumbnail" width="64" height="64">
                    }
                    else
                    {
                        <img src="~/Content/Icons/msc.jpg" alt="" class=".img-thumbnail" width="64" height="64">
                    }
                    <h4>@item.Name</h4>
                    <a href="/Administration/ApproveFile/@item.Id" class="btn .btn-sm btn-default"> Approve </a>
                    <a href="/Filework/Delete/@item.Id" class="btn .btn-sm btn-default"> Delete </a>
                </div>
            </li>
        }
    </ul>

</div>

