@using ORM.Migrations
@model IEnumerable<BLL.Interfacies.Entities.FileEntity>

@{
    ViewBag.Title = "FileManage";
}

<div align="center" class="panel-group">
    <h2>File Manage Page</h2>
    @Html.Partial("_FileViewPartial", Model)
</div>
