@using PagedList.Mvc
@model PagedList.IPagedList<BLL.Interfacies.Entities.UserEntity>

<style>
    li {
        list-style-type: none;
    }

    ul {
        margin-left: 0;
        padding-left: 0;
    }
</style>
<div align="center" class="panel-group">
    <h2>User Manage Page</h2>
    <ul>
        @foreach (var item in Model)
        {
            <li class="col-md-4">
                <div class="thumbnail">
                    <img src="~/Content/Icons/usr.png" alt="" class=".img-thumbnail" width="64" height="64">
                    <h4>@item.Email</h4>
                    <a href="/Administration/FileManage/@item.Id" class="btn .btn-sm btn-default"> Manage His Files </a>
                    <a href="/Account/Delete/@item.Id" class="btn .btn-sm btn-default"> Delete User </a>
                </div>
            </li>
        }
    </ul>
    <div class="navbar-fixed-bottom">
        @Html.PagedListPager(Model, page => Url.Action("UserManage", "Administration", new { page }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
            {
                LinkToPreviousPageFormat = ">",
                LinkToNextPageFormat = "<",
            }
                , new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "CurrentContent" }))
    </div>
</div>
