@model IEnumerable<BLL.Interfacies.Entities.FileEntity>

@{
    ViewBag.Title = "DocumentsView";
}

<div align="center" class="panel-group">
    <h2>Documents</h2>
    @Html.Partial("_FileViewPartial", Model)
</div>
