@using PagedList.Mvc
@model PagedList.IPagedList<BLL.Interfacies.Entities.FileEntity>
<div align="center" id="CurrentContent">
    <h2>Documents</h2>
    @Html.Partial("_FileViewPartial", Model)
    <div class="navbar-fixed-bottom">
        @Html.PagedListPager(Model, page => Url.Action("DocumentsView", "Home", new { page }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
            {
                LinkToPreviousPageFormat = ">",
                LinkToNextPageFormat = "<",
            }
                , new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "CurrentContent" }))
    </div>
</div>
