@model IEnumerable<string>
@{
    ViewBag.Title = "The best file storage";
}

<center>
    <h2>Лучшее файловое хранилище</h2>
    <table>
        <tr>
            <th>
                Пять последних пользователей
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td align="center">
                    @Html.DisplayFor(modelItem => item)
                </td>
            </tr>
        }
    </table>
</center>
