@using System
@using Microsoft.Ajax.Utilities
@model IEnumerable<MvcPL.Models.UserViewModel>
@{
    ViewBag.Title = "The best file storage";
}

<center>
    <h2>The best file storage</h2>
    <table>
        <tr>

            <th>
                Current users list
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
            </tr>
        }
    </table>
</center>
