@model IEnumerable<MvcPL.Models.UserViewModel>
@{
    ViewBag.Title = "The best file storage";
}

    <h1 align="center">@User.Identity.Name</h1>
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.ActionLink("delete", "Delete", "Account", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        </table>
