@using MvcPL.Providers
@model IEnumerable<MvcPL.Models.UserViewModel>
@{
    ViewBag.Title = "The best file storage";
}

    <h1 align="center">The best file storage</h1>
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    @if (Roles.Provider.IsUserInRole(User.Identity.Name,"admin"))
                    {
                        if (!item.Roles.Select(r => r.Name).Contains("admin"))
                         {
                             <td>
                                 @Html.ActionLink("delete", "Delete", "Account", new {id = item.Id}, null)
                             </td>
                         }
                    }
                </tr>
            }
        </table>
