@model IEnumerable<BLL.Interfacies.Entities.FileEntity>

@{
    ViewBag.Title = "MusicView";
}

<div align="center" class="panel-group">
    <h2>Music</h2>
    @Html.Partial("_FileViewPartial", Model)
</div>
